[submodule "QProtocolCSharp.git"]
	path = QProtocolCSharp
	url = https://github.com/Mecalc/QProtocolCSharp.git
[submodule "QClientCSharp.git"]
	path = QClientCSharp
	url = https://github.com/Mecalc/QClientCSharp.git
